.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(56, 60, 61);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.product {
  width: 200px;
  float: left;
}

.product a {
  color: black;
  text-decoration: none;
}

.product button {
}

.product ul li {
  margin-bottom: 10px;
  list-style: none;
}

.product img {
  max-height: 150px;
  max-width: 100px;
}